<a href="https://colab.research.google.com/github/chlgudwnss/ABCD-A/blob/20250327/0327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
삼성전자 = 50000
보유 = 10
총평가금액 = 삼성전자 * 보유
print(총평가금액, "원")

500000 원

In [2]:
시가총액 = '293조'
현재가 = '50,000원'
PER = 15.79

print("시가총액:",시가총액)
print("현재가:", 시가총액)
print("PER:", PER)

시가총액: 293조
현재가: 293조
PER: 15.79

In [3]:
s = 'hello!'
t = 'python'
print(s, t, sep = ' ')

hello! python

In [4]:
a = 2
b = 3
print( a + a * b)

8