<a href="https://colab.research.google.com/github/chlgudwnss/ABCD-A/blob/20250329/0329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "BlockDMask"
if name == "BlockDMask":
  print("이름이 맞습니다.")
else:
  print("이름이 다릅니다.")

이름이 맞습니다.

In [2]:
pocket = 1000
if pocket == 1000:
  print("복권 구매")
elif pocket == 500:
  print("껌 구매");
else:
  print("집이나 가자")

복권 구매

In [3]:
a = "사과"
b = "바나나"
c =  "치즈"
if a == "사과" or b == "바나나":
    print("사과 이거나 바나나 입니다.")
if a == "사과" and b == "바나나":
    print("사과 이고 바나나 입니다.")
if not a == "사과":
    print("사과가 어니어야 출력 됩니다.")

사과 이거나 바나나 입니다.
사과 이고 바나나 입니다.

In [4]:
a = [1, 2, 3, 4, 5, 6, 7, 8,] #튜플
if 1 in a:
    print("1 is in a")
elif 10 in a:
    print("10 is in a")

1 is in a

In [5]:
p_class = "Z"
sel_amount = 79900

if p_class == "A":
    sel_amount *= 0.7 # 55930.0
    print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "B": # 67915.0
    sel_amount *= 0.85
    print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "C": # 73508.0
    sel_amount *= 0.92
    print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "Z": # 84911
    sel_amount += 5000
    print(f'판매가는 {sel_amount}원 입니다.')

판매가는 84900원 입니다.

In [6]:
X=2

if X%2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Even Number

In [7]:
X = 3

if X < 10:
  print('X는 10보다 작아!')
  if X%2 == 0:
      print('X는 짝수야!')
  else:
      print('X는 홀수야!')
else:
  print('X는 10보다 커!')
  if X%2 == 0:
      print('X는 짝수야!')
  else:
      print('X는 홀수야!')

X는 10보다 작아!
X는 홀수야!

In [8]:
treeHit = 0

while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [9]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee -1
    #break를 쓰면 여기서 멈춤
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [10]:
i = 0
result1 = 0
while i < 100:
    i = i + 1
    if i % 2 == 0:
        print('1번 방법 : {0} {1}'.format(i,result1))
        result1 = result1 + i

print('1번 방법 : {0}'.format(result1))

1번 방법 : 2 0
1번 방법 : 4 2
1번 방법 : 6 6
1번 방법 : 8 12
1번 방법 : 10 20
1번 방법 : 12 30
1번 방법 : 14 42
1번 방법 : 16 56
1번 방법 : 18 72
1번 방법 : 20 90
1번 방법 : 22 110
1번 방법 : 24 132
1번 방법 : 26 156
1번 방법 : 28 182
1번 방법 : 30 210
1번 방법 : 32 240
1번 방법 : 34 272
1번 방법 : 36 306
1번 방법 : 38 342
1번 방법 : 40 380
1번 방법 : 42 420
1번 방법 : 44 462
1번 방법 : 46 506
1번 방법 : 48 552
1번 방법 : 50 600
1번 방법 : 52 650
1번 방법 : 54 702
1번 방법 : 56 756
1번 방법 : 58 812
1번 방법 : 60 870
1번 방법 : 62 930
1번 방법 : 64 992
1번 방법 : 66 1056
1번 방법 : 68 1122
1번 방법 : 70 1190
1번 방법 : 72 1260
1번 방법 : 74 1332
1번 방법 : 76 1406
1번 방법 : 78 1482
1번 방법 : 80 1560
1번 방법 : 82 1640
1번 방법 : 84 1722
1번 방법 : 86 1806
1번 방법 : 88 1892
1번 방법 : 90 1980
1번 방법 : 92 2070
1번 방법 : 94 2162
1번 방법 : 96 2256
1번 방법 : 98 2352
1번 방법 : 100 2450
1번 방법 : 2550

In [11]:
j = 0
result2 = 0
while True:
    if j > 100:
        break

    j = j + 1
    if j % 2 == 0:
        result2 = result2 + j
        print('2번 방법 (break) : {0}'.format(result2))

2번 방법 (break) : 2
2번 방법 (break) : 6
2번 방법 (break) : 12
2번 방법 (break) : 20
2번 방법 (break) : 30
2번 방법 (break) : 42
2번 방법 (break) : 56
2번 방법 (break) : 72
2번 방법 (break) : 90
2번 방법 (break) : 110
2번 방법 (break) : 132
2번 방법 (break) : 156
2번 방법 (break) : 182
2번 방법 (break) : 210
2번 방법 (break) : 240
2번 방법 (break) : 272
2번 방법 (break) : 306
2번 방법 (break) : 342
2번 방법 (break) : 380
2번 방법 (break) : 420
2번 방법 (break) : 462
2번 방법 (break) : 506
2번 방법 (break) : 552
2번 방법 (break) : 600
2번 방법 (break) : 650
2번 방법 (break) : 702
2번 방법 (break) : 756
2번 방법 (break) : 812
2번 방법 (break) : 870
2번 방법 (break) : 930
2번 방법 (break) : 992
2번 방법 (break) : 1056
2번 방법 (break) : 1122
2번 방법 (break) : 1190
2번 방법 (break) : 1260
2번 방법 (break) : 1332
2번 방법 (break) : 1406
2번 방법 (break) : 1482
2번 방법 (break) : 1560
2번 방법 (break) : 1640
2번 방법 (break) : 1722
2번 방법 (break) : 1806
2번 방법 (break) : 1892
2번 방법 (break) : 1980
2번 방법 (break) : 2070
2번 방법 (break) : 2162
2번 방법 (break) : 2256
2번 방법 (break) : 2352
2번 방법 (break) : 2450
2번 방법 (break) : 2550